---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="Bienvenue">
  <body>
    {
      posts.map(({ data: post }) => (
        <a
          href={`/${post["Type de contenu"].slice(3).toLowerCase().replace(/é/g, "e")}/${post.slug}`}
        >
          {post.Name}
        </a>
      ))
    }
  </body>
</Layout>
