---
interface Props {
  currentPage?: string;
}
const { currentPage } = Astro.props;
---

<nav id="navbar">
  <img src="/banniere.svg" />
  <a href="/">
    <span>Imrok</span>
    <span>Un oasis d'idées</span>
  </a>
</nav>
